@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700|Merriweather:400italic,400,900,300italic,300,700,700italic,900italic);

/* This is so the browser will know how to size the content, adjusts automatically keeps boxes within rows*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.hero-space {
	background: url(../img/spce-hero-home.jpg);
	width: 100%;
	height: 962px;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.index-content {
	padding-top: 50px;
}

.wrapper {
	margin: 20%;
	margin-top: 0;
	margin-bottom: 0;
}

.logo {
	max-width: 200px;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 250%;
	line-height:;
	color: #b8f0d9;
	margin-bottom: 25px;
}

p {
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 100%;
	line-height: 200%;
	color:#3e354e;
}

h2 {	
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 200%;
	line-height:;
	color: #B8F0D9;
}

.spce-subtitle {
	margin-top: 25px;
	margin-bottom: 25px;
}

ol {
	font-family:;
	font-size:;
	line-height:;
}

nav li {
	font-family: 'Oswald', sans-serif;
	font-size: 28px;
	line-height:;
	list-style-type: none;
	display: inline;
	padding: 12px;
}

h3 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 150%;
	line-height:;
	color: #B8F0D9;
}

ul {
	font-family:;
	font-size:;
	line-height:;
}

nav {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	padding-top: 40px;
}

.call-out {
	font-size: 150%;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	color: #3e354e;
}

a {
	color: #83d2e4;
}

a:hover, a:focus {
	color: #b82265;
}

.button {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	background-color: #3e354e;
	padding: 10px 50px 10px 50px;
}

.button:hover {
	background-color: #b8f0d9;
	border-right: solid;
	border-bottom: solid;
	border-color: #3e354e;
	color: #3e354e;
}

/* parallel button*/
.btn {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	border: none;
	background-color: #83d2e4;
	color: white;
	font-size:1.2em;
	padding:.5em 2em;
	text-decoration:none;
}

.parallelogram{
	transform: skew(-20deg);
  
}

.skew-fix{
	display:inline-block;
	transform: skew(20deg);
}

/* pulled from http://codepen.io/kjbrum/pen/wBBLXx */
html *,
html *:before,
html *:after {
	box-sizing: border-box;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
html i, html em,
html b, html strong,
html span {
	-webkit-transition: none;
	transition: none;
}

*:before,
*:after {
	z-index: -1;
}

.btn {
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.btn:after {
	content: '';
	width: 0;
	height: 0;
	-webkit-transform: rotate(360deg);
	border-style: solid;
	border-width: 0 0 0 0;
	border-color: white transparent transparent transparent;
	position: absolute;
	top: 0;
	left: 0;
}
.btn:hover {
	color: #83d2e4;
	border-style: solid;
}
.btn:hover:after {
	border-width: 330px 330px 0 0;
}

hr {
	width: 100%;
	height: 1px;
	background-color: #3e354e;
	color: #3e354e;
	border: 0 none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

footer {
	margin: 30px 0px 10px 0px;
}

footer li {
	font-size: 100%;
	text-align: center;
	list-style-type: none;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

footer p {
	margin: 0;
	text-align: center;
}

header {
}